doctype html
html
    head
        title="Pawel Kaniak portfolio"
        link(rel="stylesheet", href="/static/css/main.css")
    body
       
        div(id="root")
        script(src="/static/js/bundle.js", type="text/javascript")