.container {
    color: black;
}

.tempWrapper {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
}

.temp {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.inputField {
    box-sizing: border-box;
    width: 200px;
    padding: 5px;
    margin-left: 10px; 
    margin-top: 10px;
    font-size: 14px;
    border: 1px solid #111111;
}

.submitBtn {
    cursor: pointer;
    background: inherit;
    color:  #111111;
    min-width: 150px;
    margin: 15px 10px 10px 36px;
    padding: 5px 10px; 
    display: block;
    text-align: center;
    border: 1px solid #111111;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
        border-color: #777;
        color: #777;
    }
    &:focus {
        outline: none;
    }
}